# Токен бота от @BotFather
BOT_TOKEN={{ find_air_bot_token }}
# Telegram ID пользователей через запятую (узнать свой: @userinfobot)
ALLOWED_USER_IDS={{ find_air_allowed_user_ids }}
# Токен Travelpayouts: https://www.travelpayouts.com/programs/100/tools/api
TP_TOKEN={{ find_air_tp_token}}
CHECK_INTERVAL_HOURS=3
DIGEST_TIME=09:00
DROP_PERCENT=15
DROP_RUB=1500
LOG_LEVEL=INFO
