# Управляется Ansible, роль backup
[Unit]
Description=Бэкап данных приложений homelab
After=docker.service
# При ошибке прислать сообщение в Telegram, роль notify
OnFailure=homelab-notify@%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/homelab-backup
Nice=10
IOSchedulingClass=idle
